@import "../../../assets/mixins";

.bigCircle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #95DCAE;
    border: 1px dashed #14873C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    
}

.smallCircle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #14873C;
    outline: 1px dashed #14873C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    > h4 {
        display: flex;
        text-align: center;
        font-size: 22px;
        flex-direction: column;
        font-family: $main-font;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;

        > span {
            font-size: 13px;
            line-height: normal;
        }
    }
}