@import '../../../assets/mixins';

.SideBar {
    position: fixed;
    width: 240px;
    left: 0;
    z-index: 100;
    height: fill-available;
    background-color: $color-primary;
    padding: 23px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 61px;

    &__copyright {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1.3rem;
        padding: 0 20px;

        > button {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: normal;
            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.7;
        }

        > p {
            align-self: center;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            letter-spacing: normal;
            color: #FFFFFF;
        }
    }

    @media screen and (max-width: 1150px) {
        position: fixed;
        width: 100vw;
        right: 100%;
        left: auto;
        top: 61px;
        transition: 0.3s linear;
        margin-top: 0;
    }

    @media screen and (max-width: 750px) {
        top: 91px;
        height: 90vh;
    }

    > button:nth-child(1) {
        padding: 0 16px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: normal;
        /* identical to box height */

        letter-spacing: 1px;
        text-transform: uppercase;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.4;
        cursor: pointer;

        &:hover {
           > a {
               color: #FFFFFF;
           }
        }
    }

    > button:nth-child(2) {
        color: #fff;
        position: relative;
        font-family: $josefin-font;
        margin-left: 7px;

        > img {
            margin-right: 7px;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: -7px;
            width: 140%;
            left: -15px;
            height: 1px;
            background-color: #fff;
        }
    }

    &__item {
        margin-top: 1.7rem;
        display: flex;
        flex-direction: column;

        > button {
            padding: 0 16px;
            font-family: 'Manrope';
            display: flex;
            align-items: center;
            letter-spacing: normal;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            opacity: 0.7;

            > img {
                height: 20px;
                width: 20px;
                font-size: 3.3rem;
                margin-bottom: -2px;  
                transition: 0.1s linear;
                margin-right: 11px;
                margin-top: -2px;
            }

            > img:nth-child(2) {
                margin-bottom: 0;
                margin-right: 0;
                margin-top: 0;
                margin-left: auto;
                transform: rotate(180deg);
            }
        }

        &__content {
            display: flex;
            max-height: 0;
            height: 0;
            overflow: hidden;
            flex-direction: column;
            transition: 0.2s ease;
            margin-top: 0.3rem;

            > a {
                position: relative;
                display: flex;
                align-items: center;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: normal;
                flex-direction: row-reverse;
                justify-content: start;
                padding: 8px 0;
                padding-left: 50px;

                color: #FFFFFF;

                &:hover {
                    background: rgb(45, 80, 72, 0.5);
                }

                > img {
                    margin-left: auto;
                    width: 25px;
                    height: 24px;
                    margin-right: 18px;
                }


            }
        }
    }
}

.isMenu {
    max-height: 1000px;
    margin-top: 20px !important;
    height: auto;
    margin-top: 1rem;
    overflow: unset;
}

.buttonActive {
    opacity: 1 !important;
    > img {
        transform: none !important;
        width: 21px !important;
        height: 21px !important;
    }
}

.menuActive {
    transform: translateX(100%);
    z-index: 100;
}

