@import '../../assets/mixins';

.header {
    &__container {
        padding: 0.6rem 4rem 0.4rem 2rem;
        display: flex;
        background-color: $color-primary;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        max-width: 3200px;
        top: 0;
        left: 0;
        z-index: 110;
        width: 101vw;

        @media screen and (max-width: 700px) {
            padding: 1rem 0.5rem 1rem 1rem;
        }

        > a {
            font-size: 60px;
            font-weight: 500;
            font-family: 'Raleway';
            color: #fff;
            display: flex;
            gap: 0.4rem;
            align-items: center;
            font-weight: 700;

            @media screen and (max-width: 1500px) {
                font-size: 50px;
            }

            @media screen and (max-width: 1000px) {
                font-size: 35px;
                margin-left: -0.5rem;
            }

            > img {
                margin-top: 0.7rem;
                height: 71px;
                width: max-content;
                margin-right: -0.2rem;

                @media screen and (max-width: 1500px) {
                    height: 63px;
                    margin-top: 0.5rem;
                }
                @media screen and (max-width: 1000px) {
                    height: 50px;
                    margin-top: 0.4rem;
                }
            }
        }

        &__nav {
            display: flex;
            align-items: center;
            gap: 2rem;

            @media screen and (max-width: 1250px) {
                gap: 4rem;
            }

            > ul {
                display: flex;
                align-items: center;
                gap: 6rem;

                @media screen and (max-width: 1500px) {
                    gap: 4rem;
                }

               

                > li {
                    > a {
                        position: relative;
                        color: #fff;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        letter-spacing: 0.05em;

                        @media screen and (max-width: 1500px) {
                            font-size: 22px;
                        }

                        @media screen and (max-width: 1250px) {
                            font-size: 30px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 2px;
                            background-color: #fff;
                            right: -3rem;

                            @media screen and (max-width: 1500px) {
                                right: -2rem;
                            }

                            @media screen and (max-width: 1250px) { 
                                display: none;
                            }
                        }
                    }
                }

                > li:last-child {
                    a {
                        &:before {
                            content: none;
                        }
                    }
                }
            }

            @media screen and (max-width: 1250px) {
                flex-direction: column;
                position: fixed;
                transform: none;
                transition: 0.3s linear;
                top: 60px;
                background-color: $color-primary;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                left: -120%;
                align-items: center;
                justify-content: center;
                padding-bottom: 10%;

                > ul {
                    flex-direction: column;
                }

            }


            @media screen and (max-width: 700px) {
                padding-bottom: 30%;
                top: 80px;
            }

            > button {
                background-color: #fff;
                height: fit-content;
                padding: 0.5rem 1.5rem;
                border: 2px solid transparent;

                &:hover {
                    background-color: transparent;
                    border-color: #fff;
                    > a {
                        color: #fff;
                    }
                }
                
                > a {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 28px;
                    color: $color-primary;
                    line-height: normal;

                    @media screen and (max-width: 1500px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 1250px) {
                        font-size: 25px;
                    }
                }
            }
        }

        &__btnsm {
            display: none;
            padding: 1rem;
            width: fit-content;
            height: fit-content;

            > svg {
                color: #fff;
                width: max-content;
                height: 28px;
            }

            @media screen and (max-width: 1250px) {
                display: block;
            }
        }
    }
}
    

.isMenu {
    transform: translateX(calc(115%));

    @media screen and (max-width: 700px) {
        transform: translateX(calc(119%));
    }
}


