@import '../../../assets/mixins';

.graph {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;

    @media screen and (max-width: 750px) {
        height: 334px;
    }

    > div {
        width: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            > p {
                display: block;
            }
        }
    }

    &__1, &__2, &__3, &__4, &__5, &__6, &__7 {
        height: 100%;
    }

    &__1 {
        background: #000A68;
    }
    &__2 {
        background: #4C66C2;
    }
    &__3 {
        background: #95DCAE;
    }
    &__4 {
        background: #5CB67B;
    }
    &__5 {
        background: #14873C;
    }
    &__6 {
        background: #ECC528;
    }
    &__7 {
        background: #F38448;
    }
}

.number {
    display: none;
    color: $color-primary;
    letter-spacing: normal;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}

.store {
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    left: -5rem;
    transform: matrix(0.75, -0.43, 0.93, 0.79, 0, 0);
    font-size: 15px;
    color: #000A68;
}

.month {
    position: absolute;
    bottom: calc(-2.2rem);
    height: fit-content;
    line-height: normal;

    font-weight: 400;
    font-size: 18px;
    color: #000A68;
    letter-spacing: normal;
    font-family: "Raleway", sans-serif;
}
