@import '../../assets/mixins';

.fundamentally {
    @include container;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10rem;
        margin-bottom: 8rem;
        align-items: center;
        gap: 2.5rem;

        @media screen and (max-width: 1400px) {
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: 1000px) {
            margin-top: 5rem;
            margin-bottom: 4rem;
        }

        &__text {
            background: $container-color;
            border-radius: $container-border;
            box-shadow: $container-shadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            padding: 2rem 4rem;
            grid-column: 2;

            @media screen and (max-width: 1400px) {
                grid-column: auto;
                grid-row: 2;
            }

            @media screen and (max-width: 1000px) {
                padding: 2rem 2rem;
                gap: 2rem;
            }
            @media screen and (max-width: 700px) {
                gap: 2rem;
                padding: 2rem 1.5rem;
            }
            @media screen and (max-width: 350px) {
                gap: 1.8rem;
                padding: 2rem 1rem;
            }

            > h2 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                text-align: center;
                margin-bottom: 1rem;

                color: $color-primary;

                @media screen and (max-width: 1500px) {
                    font-size: 42px;
                }

                @media screen and (max-width: 1000px) {
                    font-weight: 600;
                }

                @media screen and (max-width: 700px) {
                    font-size: 32px;
                }

                @media screen and (max-width: 350px) {
                    font-size: 30px;
                }
            }

            > p {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 35px;
                text-align: center;

                color: $color-primary;

                @media screen and (max-width: 1500px) {
                    font-size: 25px;
                    line-height: 32px;
                }

                @media screen and (max-width: 1000px) {
                    font-weight: 500;
                }

                @media screen and (max-width: 700px) {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                }
            }
        }

        > div:nth-child(2) {
            display: flex;
            grid-column: 1;
            grid-row: 1;
            gap: 2rem;

            @media screen and (max-width: 1400px) {
                grid-column: auto;
                grid-row: 1;
                justify-content: space-around;
            }

            @media screen and (max-width: 1000px) {
                flex-direction: column;
                align-items: center;
            }

            > img {
                width: auto;
                max-height: 620px;

                @media screen and (max-width: 1700px) {
                    max-height: 570px;
                }
    
                @media screen and (max-width: 1400px) {
                    max-height: 670px;
                }  

                @media screen and (max-width: 1000px) {
                    width: max-content; 
                }  

                @media screen and (max-width: 700px) {
                    max-height: 600px;
                    width: auto;
                }
                @media screen and (max-width: 350px) {
                    max-height: 400px;
                }
            }
        }
    }
}