@import '../../assets/mixins';

:root {
    --normal-font-size: 32px;
    --big-font-size: 40px;
    --big-font-size-variant: 35px;
    --super-big-font-size: 95px;
    --button-main-font-size: 40px;
    --container-margin-top: 27px;
    --h2-font-size: 75px;
}

body {
    font-family: $main-font-variant;
    overflow-x: hidden;
    max-width: 3200px;
    min-width: 230px;
    margin: 0 auto;
    padding-top: 140px;

    @media screen and (max-width: 1700px) {
        padding-top: 130px;
    }

    @media screen and (max-width: 1500px) {
        padding-top: 110px;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    letter-spacing: 2px;
}

a {
    font-family: $main-font-variant;
    font-weight: 800;
    color: $color-primary;
}

ul {
    list-style: none;
}

button {
    font-size: var(--normal-font-size);
    white-space: nowrap;
    padding: 10px 45px;
    background-color: $color-primary;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover {
        background-color: transparent;
        border-color: $color-primary;
        a {
            color: $color-primary;
        }
    }

    a {
        color: $color-white;
    }
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
}

h1,h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

.text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: var(--big-font-size);
    line-height: 59px;
    color: $color-primary;
    letter-spacing: 1px;

    @media screen and (max-width: 1500px) {
        line-height: 40px;
    }
    @media screen and (max-width: 1000px) {
        line-height: 35px;
    }
    @media screen and (max-width: 700px) {
        line-height: 30px;
        font-weight: 500;
    }
}


@media screen and (max-width: 1700px) {
    :root {
        --normal-font-size: 30px;
        --big-font-size: 35px;
        --big-font-size-variant: 30px;
        --super-big-font-size: 80px;
        --button-main-font-size: 35px;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        --normal-font-size: 26px;
        --big-font-size: 38px;
        --super-big-font-size: 70px;
        --button-main-font-size: 32px;
    }
}
@media screen and (max-width: 1500px) {
    :root {
        --normal-font-size: 24px;
        --big-font-size: 30px;
        --big-font-size-variant: 28px;
        --super-big-font-size: 64px;
        --button-main-font-size: 26px;
    }
}
@media screen and (max-width: 1300px) {
    :root {
        --normal-font-size: 21px;
        --big-font-size: 28px;
        --big-font-size-variant: 27px;
        --super-big-font-size: 58px;
        --button-main-font-size: 24px;
        --h2-font-size: 45px;
    }
}
@media screen and (max-width: 1100px) {
    :root {
        --normal-font-size: 21px;
        --big-font-size: 28px;
        --big-font-size-variant: 27px;
        --super-big-font-size: 48px;
        --button-main-font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --h2-font-size: 55px;
    }
}
@media screen and (max-width: 700px) {
    :root {
        --normal-font-size: 21px;
        --big-font-size: 20px;
        --big-font-size-variant: 19px;
        --super-big-font-size: 48px;
        --button-main-font-size: 19px;
        --h2-font-size: 40px;
    }
}
@media screen and (max-width: 350px) {
    :root {
        --h2-font-size: 35px;
    }
}