@import "../../../assets/mixins";

.circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #14873C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    @media screen and (max-width: 700px) {
        aspect-ratio: 1 / 1;
    }

    > h4 {
        display: flex;
        text-align: center;
        font-size: 22px;
        flex-direction: column;
        font-family: $main-font;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;

        > span {
            font-size: 13px;
            line-height: normal;
        }
    }
}