@import '../../../assets/mixins';

.graph {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;;
    padding: 0 13px;

    &__2 {
        width: 39px;
        position: relative;
       
        background: #95DCAE;
        border: 1px dashed #14873C;
    
        > p {
            font-size: var(--small-font-size-dashboard);
            color: $color-primary;
            font-family: $main-font-variant;
            font-weight: 500;
            letter-spacing: normal;
            position: absolute;
            left: 50%;
            top: -3rem;
            transform: translateX(-50%);
            display: none;
        }
    
        
    
        &:hover {
            > p {
                display: block;
            }
        }
    }

    &__1 {
        background: #14873C;
        width: 39px;
        position: relative;

        > p {
            font-weight: 400;
            font-size: 18px;
            color: $color-primary;
            letter-spacing: normal;
            font-family: $main-font;
        }
    
        > p:nth-child(1) {
            position: absolute;
            bottom: -3rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}