@import '../../assets/mixins';

.believe {
    @include container;
    padding-top: 84px !important;

    @media screen and (max-width: 1000px) {
        padding-top: 40px !important;
    }
    @media screen and (max-width: 700px) {
        padding-top: 30px !important;
    }

    &__container {
        background: $container-color;
        box-shadow: $container-shadow;
        border-radius: $container-border;
        display: flex;
        justify-content: space-between;
        padding: 80px 83px 109px 100px;

        @media screen and (max-width: 1500px) {
            padding: 60px 63px 69px 100px;
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column-reverse;
            gap: 30px;
            padding: 40px 43px 49px 60px;
        }
        @media screen and (max-width: 700px) {
            flex-direction: column-reverse;
            gap: 30px;
            padding: 40px 20px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 78px;
            justify-content: center;

            @media screen and (max-width: 1000px) {
                margin-right: 0;
            }

            a {
                font-size: var(--button-main-font-size);
                white-space: nowrap;
                border-radius: 40px;
                padding: 27px 54px;
                color: #fff;
                text-align: center;
                border: 2px solid transparent;

                @media screen and (max-width: 1500px) {
                    padding: 14px 30px;
                }
            }

            > a:nth-child(1) {
                background-color: $color-primary;
                margin-bottom: 47px;

                @media screen and (max-width: 1500px) {
                    margin-bottom: 20px;
                }

                &:hover {
                    background-color: transparent;
                    border-color: $color-primary;
                    color: $color-primary;
                }
            }

            > a:nth-child(2) {
                background: #4C66C2;
                

                &:hover {
                    background-color: transparent;
                    border-color: #4C66C2;
                    color: #4C66C2;
                }
            }
        }

        > p { 
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: var(--big-font-size);
            line-height: 59px;
            color: $color-primary;
            letter-spacing: 1px;

            @media screen and (max-width: 1500px) {
                line-height: 40px;
            }
            @media screen and (max-width: 1000px) {
                line-height: 35px;
                text-align: center;
            }
            @media screen and (max-width: 700px) {
                line-height: 30px;
                text-align: center;
                font-weight: 500;
            }
        }
    }
}